<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ja"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>トイレ 棒読みちゃん教育一覧</title>
    <meta name="description" content="トイレ,レトルトイレット,棒読みちゃん,co1637304">
    <meta name="viewport" content="width=device-width">

    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="stylesheets/vendor/foundation/foundation.min.css">
    <link rel="stylesheet" href="stylesheets/vendor/foundation/app.css">

    <script src="javascripts/vendor/foundation/modernizr.foundation.js"></script>

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
    <!-- Included JS Files (Uncompressed) -->
    <!--

    <script src="javascripts/vendor/foundation/jquery.js"></script>

    <script src="javascripts/vendor/foundation/jquery.foundation.mediaQueryToggle.js"></script>

    <script src="javascripts/vendor/foundation/jquery.foundation.forms.js"></script>

    <script src="javascripts/vendor/foundation/jquery.foundation.reveal.js"></script>

    <script src="javascripts/vendor/foundation/jquery.foundation.orbit.js"></script>

    <script src="javascripts/vendor/foundation/jquery.foundation.navigation.js"></script>

    <script src="javascripts/vendor/foundation/jquery.foundation.buttons.js"></script>

    <script src="javascripts/vendor/foundation/jquery.foundation.tabs.js"></script>

    <script src="javascripts/vendor/foundation/jquery.foundation.tooltips.js"></script>

    <script src="javascripts/vendor/foundation/jquery.foundation.accordion.js"></script>

    <script src="javascripts/vendor/foundation/jquery.placeholder.js"></script>

    <script src="javascripts/vendor/foundation/jquery.foundation.alerts.js"></script>

    <script src="javascripts/vendor/foundation/jquery.foundation.topbar.js"></script>

    <script src="javascripts/vendor/foundation/jquery.foundation.joyride.js"></script>

    <script src="javascripts/vendor/foundation/jquery.foundation.clearing.js"></script>

    <script src="javascripts/vendor/foundation/jquery.foundation.magellan.js"></script>

    -->

    <!-- Included JS Files (Compressed) -->
    <script src="javascripts/vendor/foundation/jquery.js"></script>
    <script src="javascripts/vendor/foundation/foundation.min.js"></script>

    <!-- Initialize JS Plugins -->
    <script src="javascripts/vendor/foundation/app.js"></script>


    <script>
      $(window).load(function(){
      //$("#featured").orbit();
      });
    </script> 

  </body>
</html>
